.combo-box  .list-cell {
    -fx-text-fill: "#ffffff";

}
.combo-box  .list-view .list-cell {
    -fx-text-fill: "#ffffff";
    -fx-background-color: "#1F2D3A";
    -fx-border-color: "#ffffff";
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.date-picker {
    -fx-background-color: "#1F2D3A";
}
.date-picker > .text-field {
    -fx-background-color: "#1F2D3A";
    -fx-border-color: "#ffffff";
    -fx-text-fill: "#ffffff";
    -fx-border-radius: 20px;
}
.date-picker > .arrow-button {
    -fx-border-radius: 50px;
    -fx-border-color: "#ffffff";
    -fx-background-color: "#1F2D3A";
}

#menubtn:hover{
    -fx-background-color: #1F2D3A;
    -fx-text-fill: white;
}
#menubtn:focused {
    -fx-background-color: black;
    -fx-text-fill: white;
}
#logout:hover {
    -fx-background-color: #1F2D3A;
    -fx-text-fill: white;
}






